---
// Footer component
---

<footer class="bg-oatmeal p-6" id="footer">
  <div
    class="text-primary/40 mx-auto flex max-w-7xl flex-col items-center justify-between gap-4 text-xs font-medium md:flex-row"
  >
    <p>Copyright © 2026 Pixil Web Studio Inc. All Rights Reserved.</p>
    <div class="flex hidden gap-6">
      <a class="transition-colors hover:text-black" href="#">Privacy Policy</a>
      <a class="transition-colors hover:text-black" href="#">Terms &amp; Conditions</a>
    </div>
  </div>
</footer>
