---
interface Props {
  id?: string;
  hasBorder?: boolean;
  classNames?: string;
}
const { id, classNames = 'px-6 py-32', hasBorder } = Astro.props;
---

<section class={`${classNames} ${hasBorder ? ' border-t border-black/5' : ''}`} id={id}>
  <slot />
</section>
