---
import SectionWrapper from '@/components/shared/SectionWrapper.astro';
---

<SectionWrapper id="about-us" hasBorder>
  <div class="mx-auto max-w-3xl space-y-24">
    <div class="space-y-8">
      <span class="text-primary/40 text-xs font-bold tracking-widest uppercase"> Who We Are</span>
      <p class="font-display text-primary scroll-hidden text-4xl leading-tight md:text-5xl">
        We work with you, <span
          class="text-primary/40 hover:text-primary cursor-default transition-colors duration-700"
          >not just for you.</span
        >
      </p>
      <p class="text-primary/60 text-xl leading-relaxed">
        We are a digital studio with a simple goal: to ensure your customers love interacting with
        your brand. We believe an exceptional digital experience is the key to business success. We
        cut through the noise to build platforms that are intuitive, fast, and effective.
      </p>
      <p class="text-primary/60 text-xl leading-relaxed">
        We move beyond standard templates to craft a custom strategy that fits your specific goals.
        From the first <span class="text-pixil">pixil</span> to the final launch, we are dedicated to
        creating a product that elevates your brand and keeps your users coming back.
      </p>
    </div>
  </div>
</SectionWrapper>
