---
import SectionWrapper from '@/components/shared/SectionWrapper.astro';
import SectionLabel from '@/components/shared/SectionLabel.astro';
import ScrollCard from '@/components/ScrollCard.astro';
import type { Service } from '@/types';
import philosophies from '@/data/philosophies.json';
---

<SectionWrapper id="why-us" hasBorder>
  <div class="mx-auto max-w-3xl space-y-24">
    <div class="space-y-8 pb-24">
      <SectionLabel text="Our Philosophy" />
      <h2 class="font-display text-primary scroll-hidden text-4xl leading-tight md:text-5xl">
        We build for people, <span
          class="text-primary/40 hover:text-primary cursor-default transition-colors duration-700"
          >not just screens.</span
        >
      </h2>
      <p class="text-primary/60 text-xl leading-relaxed">
        Our philosophy is simple: <span class="font-bold">People come first.</span> It’s easy to get lost
        in the code, but we never lose sight of the human on the other side of the screen.
      </p>
      <p class="text-primary/60 text-xl leading-relaxed">
        We call it "Customer Obsession," but really, it just means we care. We care about how fast
        your site loads, how easy it is to find a button, and how your customers feel when they
        interact with your brand. We believe that if we focus on making your users happy, your
        business grows naturally.
      </p>
    </div>
  </div>
  <div class="mx-auto max-w-5xl space-y-12">
    {
      philosophies.map((philosophy: Service, index) => (
        <ScrollCard id={index + 1} service={philosophy} />
      ))
    }
  </div>
</SectionWrapper>
